* {
    box-sizing: border-box;
  }
  
  
  body {
    background-color: #6B6B6B;
  }
  
  .section_header {
    background-color: #E0E0E0;;
    display: inline-block;
    position: relative;
    bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    border: 4px solid black;
    font-size: 24px;
    font-weight: bold;
    z-index: 0;
  } 
  
  .white_square, section {
    background-color: #E0E0E0;
    padding: 0px 25px 10px 25px;
    margin-top: 30px;
    border-radius: 15px;
    text-align: justify;
    border: 4px solid black;
  }

  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background-color: #E0E0E0;
    height: 100%;
  }

  
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto; /* ripassare la proprietà overflow */
  overflow-x: hidden;
}
 
  #navbar li {
    list-style: none;
  }

  #main-doc {
    position: absolute; /* ripassare la proprietà position */
    margin-left: 310px;
    margin-right: 15px;
  }